<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNGOmjTCtgL9Rof2NK7SgXLb6hXSepa-s</string>
	<key>GCM_SENDER_ID</key>
	<string>1082507109084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vmj.Gemini-Collaboration-IDE</string>
	<key>PROJECT_ID</key>
	<string>collaborationide</string>
	<key>STORAGE_BUCKET</key>
	<string>collaborationide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082507109084:ios:9df481103a952c6d230a19</string>
</dict>
</plist>